<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RCL_HOME" value="Y:/dev" />
    <add key="RCLT_TEST_PREFIX" value="Y:/dev/rcl/RCL.Test/rclkit" />
    <add key="RCL_BIN" value="Y:/dev/rcl/RCL.Test/rcl"/>
    <add key="RCL_FLAGS" value="--output=test"/>
  </appSettings>
</configuration>